<!-- BEGIN TEMPLATE // -->
<table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN PREHEADER // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                <tr>
                    <td valign="top" class="preheaderContent"
                        style="padding-top:10px; padding-right:20px; padding-bottom:10px; padding-left:20px;"
                        mc:edit="preheader_content00">
                        Por medio de este correo, te confirmamos que de ahora en adelante podrás disfrutar de la red de descuentos que ofrece nuestro programa de descuentos.
                    </td>
                </tr>
            </table>
            <!-- // END PREHEADER -->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN HEADER // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                <tr>
                    <td valign="top" class="headerContent" align="center" style="text-align: center">
                        <img src="http://www.desclub.com.mx/tarjeta/images/logo_chico.png" width="241"
                             style="max-width:600px; text-align: center" id="headerImage"
                             mc:label="header_image" mc:edit="header_image" mc:allowdesigner
                             mc:allowtext/>
                    </td>
                </tr>
            </table>
            <!-- // END HEADER -->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN BODY // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                <tr>
                    <td valign="top" class="bodyContent" mc:edit="body_content00">
                        <h2>Estimado miembro de Desclub,</h2>

                        <h3>
                            Por medio de este correo, te confirmamos que de ahora en adelante podrás disfrutar de la red de descuentos que ofrece nuestro programa de descuentos.
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td class="bodyContent" style="padding-top:0; padding-bottom:0;">

                        <div style="background-image: url('http://beepquest.com/images/desclub/tarjeta_vacia_mailing.png'); background-repeat: no-repeat; padding-bottom: 60px; padding-top: 270px; padding-left: 30px; font-weight: bold;">
                            {{=it.number}}
                            <br/>
                            {{=it.email}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="bodyContent" mc:edit="body_content01">
                        <h4>Ingresa tu usuario y número de tarjeta Desclub para poder comenzar a utilizar tu tarjeta virtual:
                            <br/>
                            <br/>
                            <b>Usuario</b>: {{=it.email}}
                            <br/>
                            <br/>
                            <b>Numero de Tarjeta</b>: {{=it.number}}
                            <br/>
                            <br/>
                            para soporte al usuario llama al <a href="tel:32244354543">32244354543</a> o escríbenos a <a href="mailto:soporte@desclub.com.mx">soporte@desclub.com.mx</a>  </h4>
                        <br/>
                        <br/>
                        <h2>¡Descarga la aplicación!</h2>
                        <a href="https://play.google.com/store/apps/details?id=com.grupomedios.desclub.desclubandroid">
                            <img alt="Get it on Google Play"
                                 src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_60.png"/>
                        </a>
                        <br/>
                        <a href="https://itunes.apple.com/mx/app/desclub/id917338558?mt=8" target="_blank"><img width="172" height="60" id="appStore" src="http://www.desclub.com.mx/tarjeta/images/appstore.png" alt="App Store" style="display: inline;"></a>
                    </td>
                </tr>
            </table>
            <!-- // END BODY -->
        </td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <!-- BEGIN FOOTER // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                <tr>
                    <td valign="top" class="footerContent" mc:edit="footer_content00">
                        <a href="https://www.facebook.com/pages/Desclub/779006752191179">Facebook</a>&nbsp;&nbsp;&nbsp;</a>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="footerContent" style="padding-top:0;"
                        mc:edit="footer_content01">
                        <em>Copyright &copy; 2015 Desclub, Todos los derechos reservados.</em>
                        <br/>
                        <a href="http://www.desclub.com.mx/">http://www.desclub.com.mx/</a>
                        <br/>
                    </td>
                </tr>
            </table>
            <!-- // END FOOTER -->
        </td>
    </tr>
</table>
<!-- // END TEMPLATE -->