<h1 style="Margin-top: 0;font-weight: normal;color: #3d88fd;font-family: Ubuntu,sans-serif !important;font-size: 30px;Margin-bottom: 16px;line-height: 44px">
    Recuperaci&#243;n de contrase&#241;a</h1>

<p style="Margin-top: 0;font-weight: 400;color: #fff;font-family: Ubuntu,sans-serif !important;font-size: 14px;line-height: 22px;Margin-bottom: 20px">
    Usa las siguientes credenciales temporales para tener acceso a GuestQuest. Una vez ingreses, se te pedirá que reinicies la contraseña.</p>

<p style="Margin-top: 0;font-weight: 400;color: #fff;font-family: Ubuntu,sans-serif !important;font-size: 14px;line-height: 22px;Margin-bottom: 20px">
    E-mail: {{=it.email}}</p>

<p style="Margin-top: 0;font-weight: 400;color: #fff;font-family: Ubuntu,sans-serif !important;font-size: 14px;line-height: 22px;Margin-bottom: 20px">
    Contraseña temporal: {{=it.password}}</p>
